.grid-half-hour {
  display: block;
  box-sizing: border-box;
  height: 50%;
  overflow: hidden;
  font-weight: bold;
}

.grid-half-hour > div {
  visibility: hidden;
  color: white;
  font-weight: bold;
  text-align: center;
}

.grid-half-hour:hover {
 background: repeating-linear-gradient(
  45deg,
  #c75252,
  #c75252 10px,
  #c65353 10px,
  #c65353 20px);
}

.grid-half-hour:hover > div {
  visibility: visible;
  user-select: none;
}

.grid-half-hour.excluded {
  background-color: #DDD;
}

